/* Custom, iPhone Retina */
$padding : 30px;
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .n3 {
    padding-left: $padding;
    padding-right: $padding;
  }
}
#signupLink {
  color: #3498db;
}
