#signup-form-container {
  margin-top: 70px;
}
/*#signin-form-container > *:not(.input-field) {
  margin-bottom: 50px;
}
*/
#signup-form-container > div {
  margin-bottom: 30px;
}

#title {
  color: #3498db;
}
