<app-navbar></app-navbar>
<header class="masthead" style="background-image: url('../../assets/images/Banner-ScheduleDemo.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ usernames }}</h1>
          <span class="subheading">What is a computer</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div class="col"> </div>
  <div class="col-10">
  </div>
  <div class="col"> </div>

</div>

